<% content_for :meta_title, "#{@event.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_image, cl_image_path(@event.photo.key) if @event.photo.attached? %>

<div class="chatroom-banner">
  <%= link_to event_path(@event.id), class: "no-decoration text-white" do %>
    <i class="fa-solid fa-angle-left no-decoration fa-xl people"></i>
  <% end %>
  <p class="chatroom-title"><strong><%= @chatroom.name %> </strong> - Chat</p>

  <%= link_to  videocall_path do %>
    <i class="fa-solid fa-video"></i>
  <% end %>

  <!-- Button trigger modal -->
  <i class="fa-solid fa-people-group fa-xl" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
</div>

<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>">

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" style="color: white;" id="exampleModalLabel">Chat Contributers</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class ="contributer-box">
            <% @all_the_people.each do |person| %>
              <li class="person-contributer-box">
                <%= cl_image_tag person.photo.key, height: 40, width: 40, crop: :fill %>
                <%= person.name %>
                <% if person.is_a_friend?(current_user) %>
                  <p><%= person.name %> is already a friend</p>
                <% else %>
                  <%= simple_form_for Friendship.new do |f| %>
                    <%= f.input :friend_id, as: :hidden, input_html: { value: person.id } %>
                    <button type="submit" class="btn" style="color: white">
                      <i class="fa-solid fa-user-plus fa-xl"></i>
                    </button>
                  <% end %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>




 <div class="card-message">
  <%= simple_form_for [@event, @chatroom, @message], html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "chatroom-input-message d-flex" } do |f|%>
      <%= f.input :content,
        label: false,
        placeholder: "Write a message...",
        wrapper_html: {class: "flex-grow-1"}
      %>

      <%= f.submit ">", class: "submit-new-message-buttom" %>

  <% end %>
 </div>
</div>
