<% content_for :meta_title, "#{@user.name } is on #{DEFAULT_META["meta_product_name"]}" %>


<div class="profile-page-container">

  <div class ="back-to-index d-flex">
    <%= link_to events_path , class: "no-decoration text-white pe-2" do %>
      <i class="fa-solid fa-angle-left backtick"></i>
    <% end %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "nav-link-logout no-decoration text-white" %>
  </div>


  <div class="profile-hello" >
    <div class="avatar-profile">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class: 'avatar-header-profile', crop: :fill %>
    <% else %>
      <%= image_tag "classic.jpg" %>
    <% end %>
    </div>
    <h1 class="title-profile-name">Hello <%= @user.name %></h1>
  </div>


  <div class="container-profile-everything">

    <div class="container-swipping">
      <h1 class="title-events">MY EVENTS</h1>

      <!-- Slider main container -->
      <div data-controller="swiper" class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <% @user_events.each do |user_event| %>
            <div class="swiper-slide">
              <%= link_to event_path(user_event.event) do%>
                <img src="<%= user_event.event.photo_url%>" alt="">
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>



  <div class="container-genre">
  <div class="card-genre">
    <h1 class="title-friend">FRIENDS</h1>
      <% if @friendships.empty? %>
        <p class="friend-name">no friend added</p>
      <% else %>
        <% @friendships.each do |friendship| %>
        <%= link_to user_path(friendship.user) do %>
          <div class="friendsprofile">
          <%= cl_image_tag friendship.other_user(@user).photo.key, class: 'avatar-friend-profile', crop: :fill %>
          <p class="friend-name"><%= friendship.other_user(@user).name %></p>
          <%= link_to friendship_path(friendship), data: { turbo_method: :delete } do %>
          <i class="fa-solid fa-user-minus"></i>
          <% end %>
        <% end %>
        </div>
      <% end %>
        <%# <div class= "avatar-index-first-row">
          <img src="https://ca.slack-edge.com/T02NE0241-U03BXKTHCEM-560844b1dce0-512" class="card-pop avatar" />
          <img src="https://ca.slack-edge.com/T02NE0241-U02KV2K84JJ-268a6271db86-512" class="card-pop avatar" />
          <img src="https://ca.slack-edge.com/T02NE0241-U03BLPQSHA6-f3eb46882dab-512" class="card-pop avatar" />
          <img src="https://ca.slack-edge.com/T02NE0241-U03BKK2DNLB-843021afbdb3-512" class="card-pop avatar" />
        </div>
        <div class="avatar-index-second-row">
          <img src="https://ca.slack-edge.com/T02NE0241-U03BCJ6HNP8-374030a92114-512" class="card-pop avatar" />
          <img src="https://ca.slack-edge.com/T02NE0241-U03Q1L5102V-8f5bffc920e3-512" class="card-pop avatar" />
          <img src="https://ca.slack-edge.com/T02NE0241-U045Q0RPL0K-111a908ca1f8-512" class="card-pop avatar" />
          <img src="https://ca.slack-edge.com/T02NE0241-U03PRDJEMNG-c649a4eb21a3-512" class="card-pop avatar" />
        </div> %>
        <% end %>
      </div>
    </div>
  </div>
</div>
