
<div class="container-swipping">
  <h1 class="title-events">COMING UP</h1>

  <!-- Slider main container -->
  <div data-controller="swiper" class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <%@events.each do |event|%>
      <div class="swiper-slide"><%= link_to event_path(event) do%>
        <img src="<%= event.photo_url%>" alt="">
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container-genre">
  <div class="card-genre">
    <h1 class="title-genre">GENRE</h1>
      <div class= "avatar-index-first-row" >
        <%= link_to events_by_genre_path('Rock'), class: params[:genre] == "Rock" ? "icon-border border-active" : "icon-border" do %>
          <%= image_tag('rock copie.jpg', class: 'avatar') %>
        <% end %>

        <%= link_to events_by_genre_path('Jazz'), class: params[:genre] == "Jazz" ? "icon-border border-active" : "icon-border" do %>
          <%= image_tag('jazz copie.jpg', class: 'avatar') %>
        <% end %>

        <%= link_to events_by_genre_path('Classic'), class: params[:genre] == "Classic" ? "icon-border border-active" : "icon-border"  do %>
          <%= image_tag('classic.jpg', class: 'avatar') %>
        <% end %>

        <%= link_to events_by_genre_path('Electronic'), class: params[:genre] == "Electronic" ? "icon-border border-active" : "icon-border"  do %>
          <%= image_tag('electro.jpg', class: 'avatar') %>
        <% end %>
      </div>
      <div class="avatar-index-second-row">

        <%= link_to events_by_genre_path('Blues'), class: params[:genre] == "Blues" ? "icon-border border-active" : "icon-border"  do %>
          <%= image_tag('blues copie.jpg', class: 'avatar') %>
        <% end %>

        <%= link_to events_by_genre_path('Pop'), class: params[:genre] == "Pop" ? "icon-border border-active" : "icon-border"  do %>
          <%= image_tag('pop-good.jpg', class: 'avatar') %>
        <% end %>

        <%= link_to events_by_genre_path('R&B'), class: params[:genre] == "R&B" ? "icon-border border-active" : "icon-border"  do %>
          <%= image_tag('r&b.jpg', class: 'avatar') %>
        <% end %>

        <%= link_to events_by_genre_path('Rap'), class: params[:genre] == "Rap" ? "icon-border border-active" : "icon-border" do %>
          <%= image_tag('rap copie.jpg', class: 'avatar') %>
        <% end %>
      </div>
    </div>
  </div>
</div>




<h1 class="title-events-index">EVENTS</h1>


<div class="events-list-index">
  <div class="cards-event">
    <% @events.each do |event| %>
      <div class="card-event-index">
        <%= link_to event_path(event), class: "no-decoration" do %>
          <img src="<%= event.photo_url%>" alt="">
          <div class="card-text-index">
            <div class="text-left">
              <h2 class="card-title-index"><%= event.name.upcase %></h2>
              <h2 class="card-artist-index"><%= content_tag :i, "", class: "fa light fa-location-dot" %> &nbsp; <%= event.address %></h2>
            </div>
            <div class="text-right">
              <p class="card-date-index"><%= event.date.strftime('%d-%m') %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
