
<div class="container-swipping">
  <h1 class="title-events">THIS WEEK</h1>

  <!-- Slider main container -->
  <div data-controller="swiper" class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <%@events.each do |event|%>
      <div class="swiper-slide"><%= link_to event_path(event) do%>
        <img src="<%= event.photo_url%>" alt="">
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<div class="container-genre">
  <div class="card-genre">
    <h1 class="title-genre">GENRE</h1>
      <div class= "avatar-index-first-row">
        <img src="https://tse1.explicit.bing.net/th?id=OIP.uyraNsIGa0iujlvHlGRf9AHaFx&pid=Api" class="card-pop avatar" />
        <img src="https://i.pinimg.com/originals/0a/23/d7/0a23d74df350b8576ba0b49103c92e81.jpg" class="card-pop avatar" />
        <img src="https://static.vecteezy.com/system/resources/previews/002/241/449/large_2x/rock-and-roll-neon-signs-style-text-free-vector.jpg" class="card-pop avatar" />
        <img src="https://static.vecteezy.com/system/resources/previews/002/187/288/large_2x/soul-music-neon-signs-free-vector.jpg" class="card-pop avatar" />
      </div>
      <div class="avatar-index-second-row">
        <img src="https://d2gg9evh47fn9z.cloudfront.net/1600px_COLOURBOX26669108.jpg" class="card-pop avatar" />
        <img src="https://i.pinimg.com/originals/67/84/e3/6784e30fb4efc4fcecc774c6d02880c8.jpg" class="card-pop avatar" />
        <img src="https://media-us-west-motionelements.s3.amazonaws.com/m/s/425/4251514/a-0169.jpg" class="card-pop avatar" />
        <img src="https://media.istockphoto.com/vectors/rhythm-and-blues-vintage-3d-vector-lettering-retro-bold-font-typeface-vector-id1203264140?b=1&k=20&m=1203264140&s=612x612&w=0&h=6DdsNNDYeq8Ndi8zRv961rJyIVJy_4_7osrU9MjcJUc=" class="card-pop avatar" />
      </div>
    </div>
  </div>
</div>




<h1 class="title-events-index">EVENTS</h1>


<div class="events-list-index">
  <div class="cards-event">
    <% @events.each do |event| %>
      <div class="card-event-index">
        <%= link_to event_path(event), class: "no-decoration" do %>
          <img src="<%= event.photo_url%>" alt="">
          <div class="card-text-index">
            <div class="text-left">
              <h2 class="card-title-index"><%= event.name.upcase %></h2>
              <%# <p class="card-artist-index"><strong>Genre: </strong> <%= event.genre %></p>
            </div>
            <div class="text-right">
              <p class="card-date-index"><%= event.date.strftime('%d-%m-%Y') %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
