<% content_for :meta_title, "#{@event.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @event.description %>
<% content_for :meta_image, cl_image_path(@event.photo.key) if @event.photo.attached? %>


<div class ="back-to-index d-flex">
<%= link_to events_path , class: "no-decoration text-white pe-2" do %>
  <i class="fa-solid fa-angle-left backtick"></i>
<% end %>
</div>
<div class="event-name"><%= @event.name %></div>

<div class="show-margin">
  <img src=<%= @event.photo_url %> class="show-event-banner">
</div>


<div class="event-card-detail">

  <div class="event-card-detail-name">
    <%= @event.name %>
  </div>


  <div class="event_card_text">
    <%= content_tag :i, "", class: "fa light fa-location-dot" %>  <%= @event.address%>
    <br>
    <br>
    <%= content_tag :i, "", class: "fa light fa-calendar" %>  <%= @event.date.strftime('%d-%m-%Y') %>
    <br>
    <br>
    <%= content_tag :i, "", class: "fa light fa-clock" %>  <%= @event.date.strftime("%I:%m %p") %>
  </div>

  <div class="line-up">
    <p class="d-flex justify-content-center"><strong>Line Up</strong></p>
    <p class="d-flex justify-content-center"><%= @event.artist%><p>
  </div>

  <div class="more-information">
    <p class="d-flex justify-content-center"><u><strong>More Information</strong></u></p>
    <p class="d-flex justify-content-center" style="text-align: justify"><%= @event.description%></p>
  </div>

  <div>
    <div class="find_us_text">
      <p><strong>Interested?</strong></p>
    </div>
    <div class="center-button">
      <div>
        <% if @user_event %>
          <%= link_to "Remove Event", user_event_path(@user_event), data: { turbo_method: :delete }, class:"remove-event-show-event-page" %>
        <% else %>
          <%= form_tag(event_user_events_path(@event), method: :post) do %>
            <%= hidden_field_tag :trigger_method, true %>
            <%= submit_tag 'Add to My Events' , class: "interested_button" %>
          <% end %>
        <% end %>
      <div>
      <div class="top-button-interested">
        <%= link_to event_chatroom_path(@event, @event.chatroom) do %>
          <button class="interested_button">Join Chatroom</button>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="find_us_text">
  <p><strong>VENUE</strong></p>
</div>

<div class="card-map">
  <div style="width: 80%; height: 300px; border-radius: 20px; border-style: solid; border-color: black; border-style: solid; border-color: white; border-width: 5px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
